@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', serif;
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@layer utilities {

      .my-path {
        fill:none;
        stroke:#ffffff;
        stroke-width:4;
      }
      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      .image {
        height: 100%;
        object-fit: cover;
      }

  }
